<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Entnahmekommentar</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form
    [formGroup]="withdrawalForm"
    (ngSubmit)="onSubmit(withdrawalForm)"
    style="width: 100%"
    class="ion-padding"
  >
    <ion-item class="ion-no-padding">
      <ion-label position="stacked">Passphrase</ion-label>
      <ion-input
        type="text"
        placeholder="Passphrase eingeben"
        formControlName="passphrase"
      ></ion-input>
    </ion-item>
    <div class="validation-errors ion-margin-top">
      <ng-container *ngFor="let validation of validationMessages.passphrase">
        <div
          class="error-message"
          *ngIf="withdrawalForm.get('passphrase').hasError(validation.type) && (withdrawalForm.get('passphrase').dirty || withdrawalForm.get('passphrase').touched)"
        >
          <ion-icon name="warning"></ion-icon> {{validation.message}}
        </div>
      </ng-container>
    </div>
    <ion-button
      class="ion-margin-top"
      type="submit"
      expand="full"
      shape="round"
      [disabled]="!withdrawalForm.valid || isOffline"
    >
      <span *ngIf="!isUploading">Entnahmekommentar hinzufügen</span>
      <ion-spinner *ngIf="isUploading" name="crescent"></ion-spinner>
    </ion-button>
    <div class="validation-errors ion-margin-top">
      <div class="error-message" *ngIf="isOffline">
        <ion-icon name="warning"></ion-icon> Du hast aktuell keine
        Internetverbindung.
      </div>
    </div>
  </form>
</ion-content>
