<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="carton" class="ion-text-center"
      >{{carton.title}}</ion-title
    >
    <ion-buttons slot="end">
      <ion-button (click)="onEdit()" *ngIf="owner">
        <ion-icon name="create-outline"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-grid *ngIf="carton">
    <ion-row>
      <ion-col size="12">
        <div
          *ngIf="carton.loadedImages.length === 0"
          style="width: 100%; height: 225px; background-color: #a1a1a1"
        >
          <div class="ion-text-center" style="color: white; padding-top: 15%">
            Keine Bilder vorhanden
          </div>
        </div>
        <swiper [config]="swiperConfig" class="whiteBG">
          <ng-template
            swiperSlide
            *ngFor="let image of carton.loadedImages; let i = index"
          >
            <div style="position: relative">
              <!-- <div class="tooltip">
                <ion-icon name="star"></ion-icon>
                <span class="tooltiptext">Foto vom Ersteller des Kartons</span>
              </div> -->
              <img
                alt="carton image {{i}}"
                class="swiperImage"
                [src]="image.url"
              />
            </div>
          </ng-template>
        </swiper>
      </ion-col>
      <ion-col size="12" class="ion-margin-top">
        <ion-grid class="whiteBG">
          <ion-row>
            <ion-col size="12">
              <strong>Standort: </strong>{{carton.address}}
            </ion-col>
            <ion-col *ngIf="distance.length > 0" size="12">
              <strong>Entfernung: </strong>{{distance}} km
            </ion-col>
            <ion-col size="12">
              <strong>Entnahmekommentare: </strong>
              {{(carton.withdrawalReferences || []).length > 0 ?
              (carton.withdrawalReferences || []).length : "Keine"}}
            </ion-col>
            <ion-col size="12">
              <strong>Standzeit: </strong>
              <span [ngClass]="getTimeColor()"> {{getTimeWindow()}} </span>
            </ion-col>
            <ion-col size="12" *ngIf="owner">
              <strong>Passphrase: </strong>{{carton.passphrase}}<br />
              <span>(für andere Nutzer nicht sichtbar)</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col size="12" class="ion-margin-top">
        <ion-grid class="whiteBG">
          <ion-row>
            <ion-col size="12">
              <h4 style="margin-bottom: 0"><strong>Beschreibung</strong></h4>
            </ion-col>
            <ion-col size="12">
              <hr />
            </ion-col>
            <p>{{carton.text}}</p>
            <ion-col size="12">
              <hr />
            </ion-col>
            <ion-col size="12">
              <app-tag-list
                [tags]="carton.tags"
                [editable]="false"
              ></app-tag-list>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col size="12" class="ion-margin-top">
        <ion-button expand="block" (click)="addComment()" shape="round">
          Entnahmekommentar hinzufügen
        </ion-button>
      </ion-col>
      <ion-col size="12">
        <ion-button
          expand="block"
          shape="round"
          [routerLink]="'/question-answer/' + carton.id"
        >
          Fragen und Antworten
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
