.swiperImage {
  height: 225px;
  width: 100%;
  object-fit: cover;
}

.whiteBG {
  background-color: white;
}

.lightBorder {
  border: 1px solid black;
}

.displayWhitespace {
  white-space: pre-wrap;
  word-break: break-word;
}

.horizontalList {
  overflow: auto;
  white-space: nowrap;
}

.horizontalListItem {
  display: inline-block;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.textRed {
  color: #e00000;
}

.textYellow {
  color: #857700;
}

.textGreen {
  color: green;
}

.tooltiptext {
  width: 17vw;
  padding: 0.2em;
  top: 105%;
  left: 4.5vw;
  margin-left: -8.5vw; /* Use half of the width (120/2 = 60), to center the tooltip */
  visibility: hidden;
  background-color: lightgreen;
  text-align: center;
  border-radius: 6px;
  font-size: 0.2em;

  /* Position the tooltip */
  position: absolute;
}

.tooltip {
  background-color: lightgreen;
  height: 9vw;
  width: 9vw;
  border-radius: 0.2em;
  position: absolute;
  margin-left: 85%;
  margin-top: 2%;
  font-size: 9vw;
  color: #006b00;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
