<ion-grid>
  <ion-row>
    <ng-container *ngFor="let step of steps; let i = index">
      <ion-col
        size="6"
        [ngClass]="{
          active: selectedIndex === i,
          inActive: selectedIndex !== i
        }"
      >
        <ng-container [ngTemplateOutlet]="step.stepLabel.template">
        </ng-container>
      </ion-col>
    </ng-container>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ng-container [ngTemplateOutlet]="selected.content"></ng-container>
    </ion-col>
  </ion-row>
</ion-grid>
