<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Meine Fragen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-grid *ngIf="colorTimestamp !== undefined">
    <ion-row class="whiteBG">
      <ion-col size="12">
        <h2>Neue Fragen:</h2>
        <ion-list>
          <ion-item
            class="ion-margin-top"
            lines="none"
            *ngIf="questions.length === 0"
          >
            Keine neuen Fragen - schau später nochmal vorbei!
          </ion-item>
          <ion-item
            *ngFor="let question of questions; let i = index"
            class="ion-margin-top questionAnswerListItem ion-no-padding"
            (click)="routeToCarton(question.carton)"
          >
            <ion-icon
              slot="start"
              [ngClass]="question.timestamp.toDate().getTime() > colorTimestamp ? 'questionAnswerIconHighlight' : 'questionAnswerIcon'"
              name="help-outline"
            ></ion-icon>
            <span class="questionAnswerTextContainer">
              <span
                color="light"
                [ngClass]="question.timestamp.toDate().getTime() > colorTimestamp ? 'timestampCartonTextHighlight' : 'timestampCartonText'"
              >
                Karton: {{questionCartonTitle[i]}} </span
              ><br />
              <span
                color="light"
                [ngClass]="question.timestamp.toDate().getTime() > colorTimestamp ? 'timestampCartonTextHighlight' : 'timestampCartonText'"
              >
                {{this.question.timestamp.toDate().toLocaleString('de-DE',{minute:
                '2-digit', hour: '2-digit', day: 'numeric', month: 'numeric'})}} </span
              ><br />
              <span class="questionAnswerText">{{question.text}}</span>
            </span>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-top whiteBG">
      <ion-col size="12">
        <h2>Neue Antworten:</h2>
        <ion-list>
          <ion-item
            class="ion-margin-top"
            lines="none"
            *ngIf="answers.length === 0"
          >
            Keine neuen Antworten - schau später nochmal vorbei!
          </ion-item>
          <ion-item
            *ngFor="let answer of answers; let i = index"
            class="ion-margin-top questionAnswerListItem ion-no-padding"
            (click)="routeToCarton(answerCartonIDs[i])"
          >
            <ion-icon
              slot="start"
              [ngClass]="answer.timestamp.toDate().getTime() > colorTimestamp ? 'questionAnswerIconHighlight' : 'questionAnswerIcon'"
              name="help-outline"
            ></ion-icon>
            <span class="questionAnswerTextContainer">
              <span
                color="light"
                [ngClass]="answer.timestamp.toDate().getTime() > colorTimestamp ? 'timestampCartonTextHighlight' : 'timestampCartonText'"
              >
                Frage: {{answerQuestionTitle[i]}} </span
              ><br />
              <span
                color="light"
                [ngClass]="answer.timestamp.toDate().getTime() > colorTimestamp ? 'timestampCartonTextHighlight' : 'timestampCartonText'"
              >
                {{this.answer.timestamp.toDate().toLocaleString('de-DE',{minute:
                '2-digit', hour: '2-digit', day: 'numeric', month: 'numeric'})}} </span
              ><br />
              <span class="questionAnswerText">{{answer.text}}</span>
            </span>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
