.questionAnswerListItem {
  cursor: pointer;
}

.whiteBG {
  background-color: white;
}

.questionAnswerIcon {
  font-size: 1.8em;
  margin-right: 2px;
}

.questionAnswerIconHighlight {
  font-size: 1.8em;
  margin-right: 2px;
  color: var(--ion-color-primary);
}

.questionAnswerText {
  white-space: pre-wrap;
  word-break: break-word;
}

.timestampCartonText {
  font-size: 0.8em;
}

.timestampCartonTextHighlight {
  color: var(--ion-color-primary-shade);
  font-size: 0.8em;
}
