<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Frage hinzufügen</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="questionForm" (ngSubmit)="onSubmit()" style="width: 100%">
    <ion-item class="ion-no-padding">
      <ion-label position="stacked">Fragentext</ion-label>
      <ion-textarea
        rows="4"
        type="text"
        placeholder="Fragentext eingeben"
        formControlName="question"
      ></ion-textarea>
    </ion-item>
    <div class="validation-errors ion-margin-top">
      <ng-container
        *ngFor="let validation of questionValidationMessages.question"
      >
        <div
          class="error-message"
          *ngIf="questionForm.get('question').hasError(validation.type) && (questionForm.get('question').dirty || questionForm.get('question').touched)"
        >
          <ion-icon name="warning"></ion-icon> {{validation.message}}
        </div>
      </ng-container>
    </div>
    <ion-button
      class="ion-margin-top"
      type="submit"
      expand="full"
      shape="round"
      [disabled]="!questionForm.valid"
    >
      Frage erstellen
    </ion-button>
  </form>
</ion-content>
