<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Lizenzen</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">schließen</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h2>Positions-Daten:</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>
          Geocoding API by
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://opencagedata.com/"
            >OpenCage GmbH</a
          >.<br />
          Geodata copyright:
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://www.openstreetmap.org/"
            >OpenStreetMap</a
          >
          contributors
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h2>Third-Party Libraries</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p *ngIf="thirdPartyText" class="licenseText">{{ thirdPartyText }}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
