<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Profil</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openThirdPartyModal()">
        <ion-icon name="information-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <div class="ion-text-left ion-margin-top ion-margin-end">
    <ion-item lines="none">
      <ion-icon name="mail" style="color: #2F6BD6"></ion-icon>
      <ion-label class="ion-padding-start"
        >{{' ' + (getCurrentUserEmail() || '')}}</ion-label
      >
    </ion-item>
  </div>

  <form [formGroup]="validationForm" class="ion-margin-end">
    <div class="ion-text-left">
      <ion-item style="font-weight: bold" class="ion-margin-bottom" lines="none"
        >Aktuelle Adresse</ion-item
      >
      <ion-item>
        <ion-label position="floating">Straße</ion-label>
        <ion-input
          #street
          formControlName="street"
          placeholder="Keine Angabe"
        ></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.street">
          <div
            class="error-message"
            *ngIf="validationForm.get('street').hasError(validation.type) && (validationForm.get('street').dirty || validationForm.get('street').touched)"
          >
            <ion-icon name="warning"></ion-icon>{{' ' + validation.message}}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-label position="floating">Postleitzahl</ion-label>
        <ion-input
          #postalCode
          type="number"
          formControlName="postalCode"
          placeholder="Keine Angabe"
        ></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.postalCode">
          <div
            class="error-message"
            *ngIf="validationForm.get('postalCode').hasError(validation.type) && (validationForm.get('postalCode').dirty || validationForm.get('postalCode').touched)"
          >
            <ion-icon name="warning"></ion-icon>{{' ' + validation.message}}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-label position="floating">Ort</ion-label>
        <ion-input
          #city
          formControlName="city"
          placeholder="Keine Angabe"
        ></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.city">
          <div
            class="error-message"
            *ngIf="validationForm.get('city').hasError(validation.type) && (validationForm.get('city').dirty || validationForm.get('city').touched)"
          >
            <ion-icon name="warning"></ion-icon>{{' ' + validation.message}}
          </div>
        </ng-container>
      </div>
    </div>
  </form>
</ion-content>

<ion-footer class="ion-padding ion-text-center">
  <ion-button
    expand="block"
    shape="round"
    [disabled]="!validationForm.valid"
    (click)="updateUser(street, postalCode, city)"
  >
    Adresse bearbeiten
  </ion-button>
  <ion-button
    id="logoutButton"
    expand="block"
    shape="round"
    (click)="logOut()"
    >Ausloggen</ion-button
  >
</ion-footer>
