<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button *ngIf="editMode" (click)="delete()" style="color: orangered"
        ><ion-icon name="trash"></ion-icon
      ></ion-button>
      <ion-button *ngIf="editMode" (click)="close()"
        ><ion-icon name="close"></ion-icon
      ></ion-button>
    </ion-buttons>
    <ion-title>Karton {{editMode ? "bearbeiten" : "erstellen"}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <form [formGroup]="validationForm" (ngSubmit)="onSubmit(validationForm)">
    <div class="ion-margin-top ion-margin-end ion-margin-start whiteBG">
      <ion-item lines="none" class="ion-no-padding imageIonItem">
        <div
          *ngIf="imageURLs.length === 0"
          style="width: 100%; height: 225px; background-color: #a1a1a1"
          (click)="takePicture()"
        >
          <div class="ion-text-center" style="color: white; margin-top: 4em">
            Keine Bilder vorhanden
          </div>
        </div>
        <swiper *ngIf="imageURLs.length > 0" [config]="swiperConfig">
          <ng-template
            swiperSlide
            *ngFor="let image of imageURLs; let i = index"
          >
            <div style="position: relative">
              <div class="tooltip" (click)="deleteImage(i)">
                <ion-icon name="trash-bin"></ion-icon>
                <span class="tooltiptext">Foto löschen</span>
              </div>
              <img
                alt="carton image {{i}}"
                style="display: block"
                class="swiperImage"
                [src]="image.url"
              />
            </div>
          </ng-template>
        </swiper>
        <ion-fab vertical="bottom" horizontal="end">
          <ion-fab-button (click)="takePicture()" [disabled]="uploadDisabled">
            <ion-icon name="camera"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </ion-item>
    </div>
    <div class="validation-errors ion-margin">
      <div id="image-required" *ngIf="imageUploaded === false">
        <ion-icon name="warning"></ion-icon>
        {{this.validationMessages.images[0].message}}
      </div>
    </div>
    <ion-list class="ion-margin">
      <!--Title-->
      <ion-item>
        <ion-label position="floating">Titel</ion-label>
        <ion-input type="text" formControlName="title"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.title">
          <div
            class="error-message"
            *ngIf="validationForm.get('title').hasError(validation.type) && (validationForm.get('title').dirty || validationForm.get('title').touched)"
          >
            <ion-icon name="warning"></ion-icon> {{validation.message}}
          </div>
        </ng-container>
      </div>
      <ion-list-header>Standzeit festlegen:</ion-list-header>
      <!--Start-Time-->
      <ion-item>
        <ion-label>Startzeit</ion-label>
        <ion-datetime
          displayFormat="DD.MM.YYYY HH:mm"
          formControlName="startDate"
          max="2099-12-31"
          done-text="Bestätigen"
          cancel-text="Abbrechen"
        ></ion-datetime>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.startDate">
          <div
            class="error-message"
            *ngIf="validationForm.get('startDate').hasError(validation.type) && (validationForm.get('startDate').dirty || validationForm.get('startDate').touched)"
          >
            <ion-icon name="warning"></ion-icon> {{validation.message}}
          </div>
        </ng-container>
      </div>
      <!--End-Time-->
      <ion-item>
        <ion-label>Endzeit</ion-label>
        <ion-datetime
          displayFormat="DD.MM.YYYY HH:mm"
          formControlName="endDate"
          max="2099-12-31"
          done-text="Bestätigen"
          cancel-text="Abbrechen"
        ></ion-datetime>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.endDate">
          <div
            class="error-message"
            *ngIf="validationForm.get('endDate').hasError(validation.type) && (validationForm.get('endDate').dirty || validationForm.get('endDate').touched)"
          >
            <ion-icon name="warning"></ion-icon> {{validation.message}}
          </div>
        </ng-container>
        <!--Weather warning-->
        <div class="warning-message" *ngIf="isRaining === 1">
          <ion-icon name="warning"></ion-icon> An mindestens einer der gewählten
          Tage könnte es regnen. Stelle sicher, dass der Karton im Trockenen
          steht!
        </div>
        <div class="success-message" *ngIf="isRaining === 0">
          <ion-icon name="information-circle-outline"></ion-icon> Aktuell ist
          wohl in den angegeben Tagen nicht mit Regen zu rechnen.
        </div>
        <div class="warning-message" *ngIf="isRaining === -1">
          <ion-icon name="warning"></ion-icon> Wir konnten leider nicht
          herausfinden, ob in den angegeben Tagen mit Regen zu rechnen ist. Sei
          also trotzdem vorsichtig.
        </div>
      </div>
      <ion-list-header>Beschreibung hinzufügen:</ion-list-header>
      <!--Description-->
      <ion-item>
        <ion-textarea
          rows="6"
          cols="20"
          placeholder="Beschreibe Deinen Karton hier..."
          formControlName="text"
        ></ion-textarea
      ></ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.text">
          <div
            class="error-message"
            *ngIf="validationForm.get('text').hasError(validation.type) && (validationForm.get('text').dirty || validationForm.get('text').touched)"
          >
            <ion-icon name="warning"></ion-icon> {{validation.message}}
          </div>
        </ng-container>
      </div>
      <!--Tags-->

      <ion-item>
        <app-tag-list formControlName="tags"></app-tag-list>
      </ion-item>
      <div class="validation-errors">
        <div
          class="error-message"
          *ngIf="validationForm.get('tags').errors?.notEmpty && (validationForm.get('tags').dirty || validationForm.get('tags').touched)"
        >
          <ion-icon name="warning"></ion-icon>
          {{validationForm.get('tags').errors?.notEmpty}}
        </div>
      </div>
    </ion-list>
    <!--Submit-->
    <section class="ion-margin">
      <ion-button
        type="submit"
        expand="full"
        shape="round"
        [disabled]="!validationForm.valid || lock || isOffline || !imageUploaded"
        >{{editMode ? "Änderungen speichern" : "Erstellen"}}</ion-button
      >
    </section>
    <div class="validation-errors">
      <div class="error-message" *ngIf="isOffline">
        <ion-icon name="warning"></ion-icon> Du hast aktuell keine
        Internetverbindung.
      </div>
    </div>
  </form>
</ion-content>
