.error-message {
  color: red;
  font-size: small;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#image-required {
  color: red;
  font-size: small;
}

.delete-button-alert {
  color: #75101f !important;
}

.warning-message {
  color: #f57c00;
  padding: 16px;
}

.success-message {
  color: #388e3c;
  padding: 16px;
}

.swiperImage {
  height: 225px;
  width: 100%;
  object-fit: cover;
}

.whiteBG {
  background-color: white;
}

.imageIonItem {
  --padding-end: 0px;
  --inner-padding-end: 0px;
}

.tooltiptext {
  width: 17vw;
  padding: 0.2em;
  top: 105%;
  left: 4.5vw;
  margin-left: -8.5vw; /* Use half of the width (120/2 = 60), to center the tooltip */
  visibility: hidden;
  background-color: #eb445a;
  text-align: center;
  border-radius: 6px;
  font-size: 0.2em;

  /* Position the tooltip */
  position: absolute;
}

.tooltip {
  background-color: #eb445a;
  height: 9vw;
  width: 9vw;
  border-radius: 0.2em;
  position: absolute;
  margin-left: 85%;
  margin-top: 2%;
  font-size: 9vw;
  color: #75101f;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
