<div class="container">
  <div class="tags">
    <ion-chip *ngFor="let tag of tags; let i = index"
      ><p style="font-family: monospace; color: salmon">#</p>
      {{ tag }}

      <ion-icon
        *ngIf="editable"
        name="close-circle"
        (click)="removeTag(i)"
        class="tag-chip"
      ></ion-icon>
    </ion-chip>
  </div>
  <ion-input
    *ngIf="editable"
    type="text"
    (focusout)="markAsTouched()"
    (keydown)="tagKeyDown($event)"
    class="input"
    >#</ion-input
  >
</div>
