#logo {
  margin-top: 15%;
  margin-bottom: 20%;

  h1 {
    color: #46c3fd;
  }
}

.error-message {
  color: red;
  font-size: small;
}

form {
  ion-item {
    border-radius: 25px;
    --ion-background-color: #e5e5e5 !important;
    margin-bottom: 15px;
  }
}

#button-container {
  margin-bottom: 25px;

  ion-button {
    margin-bottom: 15px;
  }

  ion-label,
  a {
    font-size: 14px;
  }

  a {
    color: #46c3fd;
    margin-left: 10px;
  }
}
#registration-link:hover {
  cursor: pointer;
}
