<ion-content class="ion-padding ion-text-center">
  <div id="logo">
    <ion-text>
      <h1>GIVAPPWAY</h1>
    </ion-text>
  </div>
  <form [formGroup]="validationForm">
    <ion-item lines="none">
      <ion-input
        placeholder="Email"
        type="text"
        #email
        required
        formControlName="email"
      ></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-input
        placeholder="Passwort"
        type="password"
        #password
        required
        formControlName="password"
      ></ion-input>
    </ion-item>
    <ng-container *ngFor="let validation of validationMessages.email">
      <div
        class="error-message"
        *ngIf="validationForm.get('email').hasError(validation.type) && (validationForm.get('email').dirty || validationForm.get('email').touched)"
      >
        {{validation.message}}
      </div>
    </ng-container>
    <ng-container *ngFor="let validation of validationMessages.password">
      <div
        class="error-message"
        *ngIf="validationForm.get('password').hasError(validation.type) && (validationForm.get('password').dirty || validationForm.get('password').touched)"
      >
        {{validation.message}}
      </div>
    </ng-container>
  </form>
</ion-content>

<ion-footer
  class="ion-padding-top ion-padding-end ion-padding-start ion-text-center"
>
  <div id="button-container">
    <ion-button
      class="login-button"
      expand="block"
      shape="round"
      [disabled]="!validationForm.valid"
      (click)="logIn(email, password)"
      >Anmelden</ion-button
    >
    <ion-button
      class="login-button"
      expand="block"
      shape="round"
      (click)="discover()"
      >Erkunden</ion-button
    >
    <ion-button
      class="login-button"
      expand="block"
      shape="round"
      color="danger"
      (click)="loginWithGoogle()"
      >Mit Google anmelden</ion-button
    >
    <div id="registration-nav-container">
      <ion-label>Du hast noch kein Profil?</ion-label>
      <a id="registration-link" (click)="navigateToRegistration()"
        >Registrieren</a
      >
    </div>
  </div>
</ion-footer>
