<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Start</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="new">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>Anbieten</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="myQuestions">
      <ion-icon name="chatbubble"></ion-icon>
      <ion-label>Fragen</ion-label>
      <ion-badge *ngIf="myQuestionsBadgeCounter > 0"
        >{{myQuestionsBadgeCounter}}</ion-badge
      >
    </ion-tab-button>

    <ion-tab-button tab="myCartons">
      <ion-icon name="file-tray"></ion-icon>
      <ion-label>Meins</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
