<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Antwort hinzufügen</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-start ion-padding-bottom ion-padding-end">
  <app-answer-stepper #cdkStepper [linear]="true">
    <cdk-step [editable]="true" [stepControl]="passphraseForm">
      <ng-template cdkStepLabel class="stepperLabel">
        <div>
          <h4>1. Passphrase</h4>
        </div>
      </ng-template>
      <form
        [formGroup]="passphraseForm"
        (ngSubmit)="validatePassphrase()"
        style="width: 100%"
      >
        <ion-item class="ion-margin-top ion-no-padding">
          <ion-label position="stacked">Passphrase</ion-label>
          <ion-input
            type="text"
            placeholder="Passphrase eingeben"
            formControlName="passphrase"
          ></ion-input>
        </ion-item>
        <div class="validation-errors ion-margin-top">
          <ng-container
            *ngFor="let validation of passphraseValidationMessages.passphrase"
          >
            <div
              class="error-message"
              *ngIf="passphraseForm.get('passphrase').hasError(validation.type) && (passphraseForm.get('passphrase').dirty || passphraseForm.get('passphrase').touched)"
            >
              <ion-icon name="warning"></ion-icon> {{validation.message}}
            </div>
          </ng-container>
        </div>
        <ion-button
          class="ion-margin-top"
          type="submit"
          expand="full"
          shape="round"
          [disabled]="!passphraseForm.valid"
        >
          weiter
        </ion-button>
      </form>
    </cdk-step>

    <cdk-step [editable]="true" [stepControl]="answerForm">
      <ng-template cdkStepLabel>
        <div>
          <h4>2. Antwort</h4>
        </div>
      </ng-template>
      <form
        [formGroup]="answerForm"
        (ngSubmit)="onSubmit()"
        style="width: 100%"
      >
        <ion-item class="ion-margin-top ion-no-padding">
          <ion-label position="stacked">Antwort</ion-label>
          <ion-textarea
            rows="4"
            type="text"
            placeholder="Antwort eingeben"
            formControlName="answer"
          ></ion-textarea>
        </ion-item>
        <div class="validation-errors ion-margin-top">
          <ng-container
            *ngFor="let validation of answerValidationMessages.answer"
          >
            <div
              class="error-message"
              *ngIf="answerForm.get('answer').hasError(validation.type) && (answerForm.get('answer').dirty || answerForm.get('answer').touched)"
            >
              <ion-icon name="warning"></ion-icon> {{validation.message}}
            </div>
          </ng-container>
        </div>
        <ion-button
          class="ion-margin-top"
          type="submit"
          expand="full"
          shape="round"
          [disabled]="!answerForm.valid"
        >
          Antwort erstellen
        </ion-button>
      </form>
    </cdk-step>
  </app-answer-stepper>
</ion-content>
