<ion-header class="ion-text-center">
  <div id="reg-header">
    <ion-text>
      <h1>GIVAPPWAY</h1>
    </ion-text>
    <ion-text id="reg-header-text">
      <p>
        Auf der Suche nach gebrauchten Gegenständen? Finde Kartons in deiner
        Nähe mit GIVAPPWAY!
      </p>
      <ion-label>Jetzt registrieren!</ion-label>
    </ion-text>
  </div>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <form [formGroup]="registrationValidationForm">
    <ion-item lines="none">
      <ion-input
        placeholder="Email"
        #email
        required
        formControlName="email"
      ></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-input
        placeholder="Passwort"
        type="password"
        #password
        required
        formControlName="password"
      ></ion-input>
    </ion-item>
    <ng-container
      *ngFor="let validation of registrationValidationMessages.email"
    >
      <div
        class="error-message"
        *ngIf="registrationValidationForm.get('email').hasError(validation.type) && (registrationValidationForm.get('email').dirty || registrationValidationForm.get('email').touched)"
      >
        {{validation.message}}
      </div>
    </ng-container>
    <ng-container
      *ngFor="let validation of registrationValidationMessages.password"
    >
      <div
        class="error-message"
        *ngIf="registrationValidationForm.get('password').hasError(validation.type) && (registrationValidationForm.get('password').dirty || registrationValidationForm.get('password').touched)"
      >
        {{validation.message}}
      </div>
    </ng-container>
  </form>
</ion-content>

<ion-footer class="ion-padding ion-text-center">
  <div id="button-container">
    <ion-button
      class="registration-button"
      expand="block"
      shape="round"
      [disabled]="!registrationValidationForm.valid"
      (click)="signUp(email, password)"
    >
      Registrieren
    </ion-button>
    <div id="login-nav-container">
      <ion-label>Du hast schon ein Profil?</ion-label>
      <a id="login-link" (click)="navigateToLogin()">Login</a>
    </div>
  </div>
</ion-footer>
