ion-header {
  background-color: #2F6BD6;
  height: 25%;
}

#reg-header {
  color: white;
  padding: 2.5%;
  margin-top: 5%;

  #reg-header-text {
    position: relative;
    font-size: 12px;
  }
}

form {
  padding-top: 10%;

  ion-item {
    border-radius: 25px;
    --ion-background-color: #e5e5e5 !important;
    margin-bottom: 15px;
  }

  ion-input {
    border-radius: 20px;
    background-color: #e5e5e5;
  }
}

.error-message {
  color: red;
  font-size: small;
}

#button-container {
  margin-bottom: 25px;

  ion-button {
    margin-bottom: 15px;
  }

  ion-label,
  a {
    font-size: 14px;
  }

  a {
    color: #46c3fd;
    margin-left: 10px;
  }
}
