<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Meine Kartons</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-title *ngIf="myCartons.length === 0" class="alternativTitle"
    >Keine Kartons vorhanden</ion-title
  >
  <ion-list *ngIf="myCartons.length > 0" class="cartonList">
    <ion-item *ngFor="let carton of myCartons" (click)="openCarton(carton.id)">
      <ion-img
        style="width: 50%; height: 50%"
        [src]="carton.loadedImages[0]?.url || 'https://via.placeholder.com/330x200'"
      >
      </ion-img>
      <span class="title"> {{carton.title}}</span>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
