.title {
  font-size: larger;
  font-weight: bold;
  margin-left: 10%;
}
.alternativTitle {
  margin-top: 10%;
}

.cartonList {
  background-color: #f4f5f8;
}

.list-image {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 80px;
  width: 110px;
  object-fit: cover;
}
