<ion-header>
  <ion-toolbar color="primary">
    <ion-searchbar
      color="light"
      (ionChange)="search($event)"
      placeholder="Kartons durchsuchen"
      clearIcon
    >
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-grid>
    <ion-row class="tableTitle">
      <ion-col>
        <ion-title *ngIf="searchText !== ''">
          {{shownCartons.length}} Kartons zu {{searchText}} gefunden!
        </ion-title>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col
        class="cartonContainer"
        size="6"
        *ngFor="let carton of shownCartons"
      >
        <ion-grid class="carton" (click)="openCarton(carton.id)">
          <ion-row>
            <ion-col>
              <ion-img
                alt="Bild der Anzeige"
                [src]="carton.loadedImages[0]?.url || 'https://via.placeholder.com/330x200'"
                class="image"
              >
              </ion-img>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div class="carton-title">{{carton.title}}</div>
            </ion-col>
          </ion-row>
          <ion-grid class="innerGrid">
            <ion-row>
              <ion-col class="icon">
                <ion-icon name="location-outline"></ion-icon>
              </ion-col>
              <ion-col>
                <span> {{carton.address}} </span>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="userLocation !== undefined">
              <ion-col class="icon">
                <ion-icon name="footsteps-outline"></ion-icon>
              </ion-col>
              <ion-col>
                <span> {{ getCartonDistance(carton) }} km </span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="icon">
                <ion-icon name="images-outline"></ion-icon>
              </ion-col>
              <ion-col>
                <span>
                  {{(carton.withdrawalReferences || []).length > 0 ?
                  (carton.withdrawalReferences || []).length : "Keine"}}
                </span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="icon">
                <ion-icon name="time-outline"></ion-icon>
              </ion-col>
              <ion-col>
                <span [ngClass]="getTimeColor(carton)">
                  {{getTimeWindow(carton)}}
                </span>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
