ion-searchbar {
  --border-radius: 20px;
  width: 80%;
  margin: 15px auto;
}

.carton-title {
  font-size: small;
  font-weight: bold;
  text-align: left;
}

ion-col {
  --ion-grid-column-padding: 2%;
}

.carton {
  font-size: small;
  background-color: white;
  border-radius: 5%;
  border: 1px solid gray;
  text-align: left;
}

.tableTitle {
  font-size: medium;
  margin: auto;
  padding: 0;
}

.textRed {
  color: #e00000;
}

.textYellow {
  color: #857700;
}

.textGreen {
  color: green;
}

@media (max-width: 250px) {
  .cartonContainer {
    --ion-grid-columns: 6;
  }
}

@media (min-width: 250px) {
  .cartonContainer {
    --ion-grid-columns: 12;
  }
}

.image {
  height: 100px;
  width: 100%;
  object-fit: cover;
}

.innerGrid {
  --ion-grid-columns: 6;
}
.icon {
  max-width: fit-content;
}
