<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Fragen & Antworten</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="questions !== null" color="light">
  <ion-grid>
    <ion-row
      *ngFor="let question of questions"
      class="whiteBG ion-margin-top questionContainer"
    >
      <ion-col size="12">
        <ion-item lines="none" class="ion-no-padding">
          <ion-icon
            slot="start"
            class="questionAnswerIcon"
            name="help-outline"
          ></ion-icon>
          <span class="questionAnswerTextContainer">
            <span class="timestampText"
              >{{this.question.timestamp.toDate().toLocaleString('de-DE',{minute:
              '2-digit', hour: '2-digit', day: 'numeric', month: 'numeric'})}} </span
            ><br />
            <span class="questionAnswerText">{{question.text}}</span>
            <ion-icon
              *ngIf="cartonCreatorID === question.userID"
              class="ion-margin-left"
              style="color: #d5c108"
              name="star"
            ></ion-icon>
          </span>
        </ion-item>
      </ion-col>
      <ion-col size="12" *ngFor="let answer of question.answers">
        <ion-item lines="none">
          <ion-icon
            slot="start"
            class="questionAnswerIcon"
            name="chatbubble-ellipses-outline"
          ></ion-icon>
          <span class="questionAnswerTextContainer">
            <span class="timestampText">
              {{this.question.timestamp.toDate().toLocaleString('de-DE',{minute:
              '2-digit', hour: '2-digit', day: 'numeric', month: 'numeric'})}} </span
            ><br />
            <span class="questionAnswerText">{{answer.text}}</span>
            <ion-icon
              *ngIf="cartonCreatorID === answer.userID"
              class="ion-margin-left"
              style="color: #d5c108"
              name="star"
            ></ion-icon>
          </span>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-button
          size="small"
          type="button"
          class="ion-margin-start"
          (click)="showAnswerCreationModal(question.id)"
        >
          <ion-icon name="add-circle-outline" slot="start"></ion-icon>
          <span slot="end"> Antwort hinzufügen </span>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="showQuestionCreationModal()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
