.whiteBG {
  background-color: white;
}

.questionContainer {
  padding-right: 0.2em;
}

.questionAnswerText {
  white-space: pre-wrap;
  word-break: break-word;
}

.questionAnswerIcon {
  font-size: 1.8em;
  margin-right: 2px;
}
.questionAnswerTextContainer {
  margin-top: 0.5em;
  width: 100%;
  //dont seem to be necessary https://stackoverflow.com/a/26276254
  //max-width: -moz-available;
  //max-width: -webkit-fill-available;
  //max-width: fill-available;
}

.timestampText {
  font-size: 0.8em;
}
